.site-header {
	background-color: $color__background-section;
	padding: 10px 30px;
	margin-bottom: 30px;

	& > .container {
		display: flex;
		align-items: center;
	}

	.site-branding {
		flex-basis: 35%;
		display: flex;
		align-items: center;

		@media #{$tablet} {
			flex-basis: inherit;
			margin-left: -30px;
		}

		@media #{$phone} {
			flex-direction: row;
			margin-left: -30px;
		}
	}

	.custom-logo-link {
		max-width: 150px;
		margin-right: 10px;

		@media #{$phone} {
			max-width: 50px;
		}
	}

	.site-title {
		font-size: 34px;
		font-family: $font__secondary;
		margin: 0;
	}

	.site-description {
		margin-top: 0;

		@media #{$tablet} {
			display: none;
		}
	}
}
