.container {
    max-width: $width__site;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    clear: both;

    @media #{$phone} {
        padding-left: 20px;
        padding-right: 20px;
    }
}

#content > .container {
	display: flex;

	@media #{$tablet} {
	    display: block;
	}

	#primary {
		flex: 1;
	}

	#secondary {
		margin-left: 30px;
		flex-basis: 30%;

		@media #{$tablet} {
			margin-left: 0;
			margin-top: 30px;
		}
	}

}

.page-template-full-width {
	#content > .container {
		grid-template-columns: 1fr;
	}
}

.error404 {
	#content > .container {
		grid-template-columns: 1fr;
	}

	.page-content {
		background-color: $color__background-section;
		padding: 30px 30px;
	}
}

.no-results {
	.page-content {
		background-color: $color__background-section;
		padding: 30px 30px;
	}
}

.required {
	color: #dd0000;
}
