$size__site-main: 100%;
$size__site-sidebar: 25%;

$width__container: 1200px;
$width__site: 1200px;

$tablet-width: 1024px;
$small-width: 1200px;
$phone-width: 767px;
$header-width: 960px;
$phone-small-width: 500px;
$medium-width: 1439px;

$desktop: 'screen and (max-width: #{$width__container})';
$tablet: 'screen and (max-width: #{$tablet-width})';
$phone: 'screen and (max-width: #{$phone-width})';
$phone-small: 'screen and (max-width: #{$phone-small-width})';
$header: 'screen and (max-width: #{$header-width})';
$small-screen: 'screen and (max-width: #{$small-width})';
$medium: 'screen and (max-width: #{$medium-width})';
